@import "tailwindcss";

@layer base {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
body {
  background: linear-gradient(
      160deg,
      hsl(335, 51%, 15%) 0%,
      #2b0e10 30%,
      hsl(229, 27%, 10%) 100%
    )
    fixed;
  overflow: hidden;
}

.card-wrapper {
  scrollbar-color: #fa5c53 #3a2129;
}
