@import "tailwindcss";

@layer base {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
body {
  background: linear-gradient(180deg, #2b0e10 0%, #07080d 100%) fixed;
  overflow: hidden;
}

.card-wrapper {
  scrollbar-color: #fa5c53 #00000000;
}
